# ==============================================================================
# PYTHON (Кэш, байткод и сборка)
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==============================================================================
# ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ (Зависимости)
# ==============================================================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ==============================================================================
# КОНФИГУРАЦИЯ И СЕКРЕТЫ (Файлы окружения)
# ==============================================================================
**/.env
**/.env.local
**/.env.*.local

# ==============================================================================
# ТЕСТИРОВАНИЕ И ПОКРЫТИЕ (Pytest, Coverage)
# ==============================================================================
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.hypothesis/

# ==============================================================================
# IDE - VS CODE
# ==============================================================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-workspace
.history/

# ==============================================================================
# IDE - JETBRAINS (PyCharm, IntelliJ IDEA)
# ==============================================================================
.idea/
*.iws
*.iml
*.ipr
out/

# ==============================================================================
# СИСТЕМНЫЙ МУСОР И ЛОГИ
# ==============================================================================
*.log
.DS_Store
Thumbs.db
